students{
  background-color: black;   
   
}
student{
    display: block;
    
    padding-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    

}
name,usn,college,email,yoj,branch{
    display: block;
    
}

